body {
    background-image: url("../background.png");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    text-align: center;
    width: 1366px;
    height: 768px;
    padding: 51px 161px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;

}
header {
    display: flex;

}
.link {
    text-decoration: none;
    color: white;
}
.logo {
    display: flex;
    color: white;
    background-image: url("../logo.png");
    background-size: 53px 47px;
    background-repeat: no-repeat;
}
.h1 {
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    padding-left: 55px;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    padding-left: 55px;
    margin-top: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.contacts {


}
.email {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    margin: 0;
    padding-left: 625px;
}
.telephone {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    margin-top: 19px;
}
header :hover {
    color: #F26522;
}
.logo :hover {
    background-image: url("../logo 2.png");
    background-size: 53px 47px;
    background-repeat: no-repeat;
}
.footer {
    position: absolute;
    width: 306px;
    height: 21px;
    left: 530px;
    top: 728px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    text-align: center;
}
.container {
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
}
.container_gallery {
    margin-right: 40px;
}
.container_gallery img {
    width: 300px;
    height: 220px;
}
.container_gallery a{
    text-decoration: none;
    color: #FFFFFF;
}
.container h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}
.popup {
    position: absolute;
    width: 297px;
    height: 55px;
    left: 162px;
    top: 302px;
    display: none;
    background: #F26522;
}
.container :hover .popup {
    display: flex;
    justify-content: space-between;
}
.pupup_content {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    margin-left: 16px;
    margin-top: 7px;
}
.popup_price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: block;
    padding: 0;
    margin-top: 8px;
    margin-left: 14px;
}
.details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 12px;
    margin-right: 17px;
}
.details :after {
    margin-left: 16px;
    content: "❯";
}
.title :hover {
    color: #F26522;
}


